body {
  width : 1200px;
  height: 702px;
  margin: 0 auto;
  background: #000 url(images/chevalet12.jpg) center center no-repeat ;

}
div {
width: 30px;
height: 30px;
float: left;
}


#square {
    width : 480px;
    height : 480px;
    background : white url(images/toile2.jpg) center center no-repeat ;
    margin: 0 auto;
    border: 2px solid #5D301C;
    position:absolute;
    top : 25%;
    left: 53%;
}

p {
  text-align: center;
  line-height: 2px;
  font-size: 15px;
}
input {
  background: #000 url(images/bois.jpg) center center no-repeat ;
  -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #5D301C;
    font-size: 20px;
    display: block;
    width : 125px;
    height : 50px;
    font-size: 20px;
    position:absolute;
    right : 28px;
    cursor: pointer;
}

.clear {
  top : 25%;
}
.erase {
  top : 35%;
}
.black {
  background-color: black;
  top : 48%;
}
.blue {
  top : 58%;
  background-color: #5F7ECD;
}
.red {
  top : 68%;
  background-color: #EA1F22;
}
.yellow {
  top : 78%;
  background-color: #F9F343;
}
.green {
  top : 88%;
  background-color: #3AB238;
}
